.booking-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

h3 {
    margin: 15px 0;
    font-size: 32px;
    font-weight: 600;
}
.booking-right {
  width: 770px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.booking-left {
  width: 560px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.room-image {
  display: flex;
  justify-content: center;
}

.room-image img {
  width: 507px;
  height: 344px;
  border-radius: 12px;
}

.image-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
}

.payment-method label {
  display: block;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.special-request textarea {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  padding: 8px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm {
  background-color: #8cd024;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
}

.step-header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
  gap: 10px;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
}

.step-number {
  width: 26px;
  height: 27px;
  border-radius: 3px;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.step-item.active .step-number {
  background-color: rgba(65, 65, 65, 1);
}

.step-label {
  font-size: 14px;
}

.step-divider {
  width: 40px;
  height: 2px;
  background-color: #ccc;
  margin: 0 5px;
}
